// Define variables for your color scheme

// Colors go from darkest to lightest - all are diff shades of same color:
$darkest-green: #07BEB8;
$medium-green: #3DCCC7;
$medium-blue: #68D8D6;
$lighter-blue: #9CEAEF;
$lightest-color: #C4FFF9;


$footer-gray: #F7F7F7;
// $light-gray: #F4F4F4;
