.entries-container {
    max-height: 50vh;
    display: flex;
    flex-direction: column;
}

.sender-messages {
    background-color: $lighter-blue;
    text-align: right;
    width: 50%;
    align-self: flex-end;
    margin-top: 5px;
    padding: 15px 15px 0 20px;
    border-radius: 10px;
}

.recipient-messages {
    background-color: $lightest-color;
    text-align: left;
    width: 50%;
    margin-top: 5px;
    padding: 15px 0 15px 20px;
    border-radius: 10px;
}
