.background-container{
    background-image: url('https://images.unsplash.com/photo-1573233919790-17009f6cdbe6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60');
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
}


.form-box {
    display: flex;
    margin-top: 150px;
    background-color: rgba(255,255,255,0.84);
    border-radius: 10px;
    @media (max-width: 375px){
        align-items: end;
    }
    margin-bottom: 10px;
  h2 {
    margin-top: 15px;
  }
}

.form-item {
    max-width: 100%;
    max-height: 100%;
}

.sign-up-links {
  text-align: center;
}
