form {
  width: 400px;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  margin-top: 10px;
  color: #3DCCC7;
}

div.add_form {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.new-dog {
  text-align: center;
  margin-top: 50px;
}
