.container-top {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

img.rounded {
  width: 350px;
  height: 350px;
}

div.photo {
  text-align: center;
}

div.bottom-container {
  margin: 50px;
}

.default {
  width: 350px;
  height: 350px;
}
