.container.show{
  padding: 5%;
  .img{
    text-align: center;
  }
  .details{
    border-left: 4px solid $darkest-green;
  }
  .details p{
    font-size: 15px;
    font-weight: bold;
  }

}

div.users-pups {
  margin-top: 50px;
}

div.users-pups-grid {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}
