<div class="container">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Requests</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Upcoming Sessions</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Past Sessions</a>
    </li>
  </ul>

  <div class="dash-content">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="request-card ">
            <div class="card-header ">
              <h4>Carlos</h4>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1568688570940-831467d18af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80)">
              </div>
              <div class="card-body">
                <div class="card-info">
                  <i class="fa fa-circle text-info"></i> Status: Pending
                </div>
                <hr>
                <div class="status">
                  <i class="fa fa-clock-o"></i> Request sent 2 days ago
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card ">
            <div class="card-header ">
              <h4>Carlos</h4>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1568688570940-831467d18af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80)">
              </div>
              <div class="card-body">
                <div class="card-info">
                  <i class="fa fa-check-circle text-success"></i> Status: Completed
                </div>
                <hr>
                <div class="status">
                  <i class="fa fa-clock-o"></i> Completed 3 weeks ago
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card ">
            <div class="card-header ">
              <h4>Carlos</h4>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1568688570940-831467d18af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80)">
              </div>
              <div class="card-body">
                <div class="card-info">
                  <i class="fa fa-times-circle text-danger"></i> Status: Denied
                </div>
                <hr>
                <div class="status">
                  <i class=""></i> Request sent 2 mos ago
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card ">
            <div class="card-header ">
              <h4>Carlos</h4>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1568688570940-831467d18af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80)">
              </div>
              <div class="card-body">
                <div class="card-info">
                  <i class="fas fa-paw text-primary"></i> Status: Accepted!
                </div>
                <hr>
                <div class="status">
                  <i class=""></i> Request sent 2 mos ago
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
