<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header ">
            <h4>**Dog Name**</h4>
            <p class="card-category">**Active/Pending/Denied**</p>
          </div>
          <div class="card-body">
            <div class="card-info">
              <i class="fa fa-circle text-info"></i> Pending
            </div>
            <hr>
            <div class="status">
              <i class="fa fa-clock-o"></i> Request sent 2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
