.btn {
  background-color: $medium-green;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.btn-sign-up {
    background-color: $medium-blue;
    color: white !important;
}

.btn-log-in {
    background-color: $medium-blue;
    color: white !important;
}
