.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media (max-width: 500px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: grid;
  text-align: center;
  align-items: flex-end;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category:hover {
  opacity: 0.9;
  }

.row {
  display: flex;
  flex-wrap: wrap;
}

div.col-md-4 a:hover {
  text-decoration: none;
}
