
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  text-align: center;
  align-items: flex-end;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.cards-container {
  margin-top: 70px;
}

.card-category:hover {
  opacity: 0.9;
  }

.row {
  display: flex;
  flex-wrap: wrap;
}

div.col-md-4 a:hover {
  text-decoration: none;
}

.dashboard-dog-card {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    .dog-picture {
        width: 18rem;
        height: 9rem;
        background-position: center;
        background-size: cover;
    }
}
